@model CodeTheCloud.ViewModels.ApplicantsViewModel
@{
    ViewBag.Title = "Details";
}

<h2 style="color: #f5a004;">Applicant Details</h2>

@using (Html.BeginForm())
{
    <hr />
    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.Surname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.ContactNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.ContactNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.Gender, new { @class = "form-control" })
           
        </div></div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.BirthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.BirthDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.IdNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.IdNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.Race, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.Race, new { @class = "form-control" })
    </div> </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.Qualification, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.Qualification, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Applicant.ResidentialAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Applicant.ResidentialAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Finish" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}
